ingress_variables = {
  develop = {
    name               = "<your-ingress-name>"
    namespace          = "<your-namespace>"
    chart_version      = "<your-chart-version>"
    ingress_class_name = "<your-ingress-class-name>"
  },
  staging = {
    name               = "<your-ingress-name>"
    namespace          = "<your-namespace>"
    chart_version      = "<your-chart-version>"
    ingress_class_name = "<your-ingress-class-name>"
  },
  production = {
    name               = "<your-ingress-name>"
    namespace          = "<your-namespace>"
    chart_version      = "<your-chart-version>"
    ingress_class_name = "<your-ingress-class-name>"
  }
}
